@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .airplane-container {
    animation: spinning infinite 5s linear;
  }
}

.airplane-container {
  max-height: 50px;
  z-index: -1;
}

@keyframes leftright {
  from {
    left: 110%;
  }
  to {
    left: -10%;
  }
}

.moving {
  position: absolute;
  animation: leftright infinite 4s alternate-reverse;
}
